<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Peakture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
    
    <form action="./index.php" method="post" enctype="multipart/form-data" class="form-inline my-2 my-lg-0">
        <input type="file" name="file" required accept="image/*" class="btn btn-outline-secondary my-2 my-sm-0 mr-2"/>
        <input type="text" name="name" class="form-control mr-sm-2" placeholder="Nom de l'image"/>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-2">Ajouter</button>
    </form>

    <a href="./index.php?disconnect=true" class="btn btn-outline-danger my-2 my-sm-0">Déconnexion</a>
</nav>